tqdm
jupyterlab
pandas
pygrib
xarray
netcdf4
h5netcdf
geopandas
contextily
folium
pygrib
joblib
matplotlib
basemap
scikit-learn
scikit-image
scipy
rasterio
seaborn
opencv-python
PyQt5
cdsapi
GDAL[numpy]==3.6.2